Source: galliumos-broadwell
Section: admin
Priority: required
Maintainer: GalliumOS <galliumos@galliumos.org>
Standards-Version: 3.9.1

Package: galliumos-broadwell
Architecture: all
Priority: required
Depends: galliumos-base, linux-image-galliumos-broadwell
Provides: galliumos-device
Conflicts: galliumos-sandyivy, galliumos-haswell, galliumos-baytrail, Xgalliumos-broadwell, galliumos-braswell, galliumos-skylake, galliumos-apollolake, galliumos-kabylake
#Replaces: galliumos-haswell, galliumos-sandyivy, galliumos-baytrail
Description: GalliumOS Broadwell customizations
 This package contains Broadwell-specific files for GalliumOS
